{% extends 'layout/base.html' %}

{% block title %}
  Giỏ hàng
{% endblock %}
{% block content %}
  <!-- Single Page Header start -->
  <div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cart</h1>
    <ol class="breadcrumb justify-content-center mb-0">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Pages</a>
      </li>
      <li class="breadcrumb-item active text-white">Cart</li>
    </ol>
  </div>
  <!-- Single Page Header End -->

  <!-- Cart Page Start -->
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Products</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            {% for id, item in cart.items %}
              <tr>
                <th scope="row">
                  <div class="d-flex align-items-center">
                    <img src="{{ item.image }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px; object-fit: cover;" alt="" />
                  </div>
                </th>
                <td style="width: 25%;">
                  <a href="{% url 'detail' slug=item.slug %}" class="mb-0 mt-4">{{ item.name }}</a>
                </td>
                <td>
                  <p class="mb-0 mt-4">
                    {% load humanize %}{{ item.price|floatformat:0|intcomma }} ₫
                  </p>
                </td>
                <td>
                  <div class="input-group quantity mt-4" style="width: 100px;">
                    <div class="input-group-btn">
                      <a href="{% url 'update_cart' type='minus' product_id=id quantity=1 %}" class="btn btn-sm btn-minus rounded-circle bg-light border"><i class="fa fa-minus"></i></a>
                    </div>
                    <input type="text" class="form-control form-control-sm text-center border-0" value="{{ item.quantity }}" />
                    <div class="input-group-btn">
                      <a href="{% url 'update_cart' type='add' product_id=id quantity=1 %}" class="btn btn-sm btn-plus rounded-circle bg-light border"><i class="fa fa-plus"></i></a>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="mb-0 mt-4">
                    {% load humanize %}{{ item.total|floatformat:0|intcomma }} ₫
                  </p>
                </td>
                <td>
                  <a href="{% url 'update_cart' type='remove' product_id=id quantity=1 %}" class="btn btn-md rounded-circle bg-light border mt-4"><i class="fa fa-times text-danger"></i></a>
                </td>
              </tr>
            {% empty %}
              <tr>Chưa có sản phẩm nào trong giỏ hàng!</tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="mt-5">
        <input type="text" class="border-0 border rounded me-5 py-3 mb-4" style="outline: none;" placeholder="Mã giảm giá" />
        <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Áp dụng</button>
      </div>
      <div class="row g-4 justify-content-end">
        <div class="col-8"></div>
        <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
          <div class="bg-light rounded">
            <div class="p-4">
              <h4 class="mb-4">Giỏ hàng <span class="fw-normal">Tổng tiền</span></h4>
              <div class="d-flex justify-content-between mb-4">
                <h5 class="mb-0 me-4">Tạm tính:</h5>
                <p class="mb-0">
                  {% load humanize %}{{ total|floatformat:0|intcomma }} ₫
                </p>
              </div>
              <div class="d-flex justify-content-between">
                <h5 class="mb-0 me-4">Phí ship</h5>
                <div class="">
                  <p class="mb-0">0 đ</p>
                </div>
              </div>
            </div>
            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
              <h5 class="mb-0 ps-4 me-4">Tổng tiền</h5>
              <p class="mb-0 pe-4">
                {% load humanize %}{{ total|floatformat:0|intcomma }} ₫
              </p>
            </div>
            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Đặt hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Cart Page End -->
{% endblock %}
