{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load stars_tags %}
{% block title %}
  {{ product.name|default:'Chi tiết sản phẩm' }}
{% endblock %}
{% block content %}
  <style>
    .featurs-item {
      transition: all 0.3s ease;
    }
    .featurs-item:hover {
      transform: translateY(-6px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }
    .featurs-item img {
      transition: transform 0.3s ease;
    }
    .featurs-item:hover img {
      transform: scale(1.05);
    }
    .text-truncate-2 {
      display: -webkit-box;
      -webkit-line-clamp: 2; /* chỉ 2 dòng */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .fruite-item {
      transition: all 0.3s ease;
    }
    .fruite-item:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
  </style>
  <!-- Single Page Header start -->
  <div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">{{ product.name }}</h1>
    <ol class="breadcrumb justify-content-center mb-0">
      <li class="breadcrumb-item">
        <a href="#">Trang chủ</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'shop_detail' slug=product.category.slug %}">{{ product.category.name }}</a>
      </li>
      <li class="breadcrumb-item active text-white">{{ product.name }}</li>
    </ol>
  </div>
  <!-- Single Page Header End -->

  <!-- Single Product Start -->
  <div class="container-fluid py-5 mt-5">
    <div class="container py-5">
      <div class="row g-4 mb-5">
        <div class="col-lg-8 col-xl-9">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="border rounded">
                <a href="#"><img src="{{ product.image }}" class="img-fluid rounded" alt="Image" /></a>
              </div>
            </div>
            <div class="col-lg-6">
              <h4 class="fw-bold mb-3">{{ product.name }}</h4>
              <p class="mb-3">Danh mục: {{ product.category.name }}</p>
              <h5 class="fw-bold mb-3">{% load humanize %}{{ product.price|floatformat:0|intcomma }} ₫</h5>
              <div class="d-flex mb-4">
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="mb-4">Số lượng: {{ product.stock }} sản phẩm</p>
              <div class="input-group quantity mb-5" style="width: 100px;">
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-minus rounded-circle bg-light border"><i class="fa fa-minus"></i></button>
                </div>
                <input type="text" class="form-control form-control-sm text-center border-0" value="1" />
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-plus rounded-circle bg-light border"><i class="fa fa-plus"></i></button>
                </div>
              </div>
              <a href="#" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm vào giỏ hàng</a>
            </div>
            <div class="col-lg-12">
              <nav>
                <div class="nav nav-tabs mb-3">
                  <button class="nav-link active border-white border-bottom-0" type="button" role="tab" id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about" aria-controls="nav-about" aria-selected="true">Mô tả</button>
                  <button class="nav-link border-white border-bottom-0" type="button" role="tab" id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission" aria-controls="nav-mission" aria-selected="false">Đánh giá</button>
                </div>
              </nav>
              <div class="tab-content mb-5">
                <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                  <div>{{ product.description|safe }}</div>
                </div>
                <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                  {% for item in product.reviews.all %}
                    <div class="d-flex">
                      <img src="{{ item.user.avatar }}" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="" />
                      <div class="" style="flex: 1;">
                        <p class="mb-2" style="font-size: 14px;">{{ item.created_at|date:'d/m/Y H:i' }}</p>
                        <div class="d-flex justify-content-between">
                          <h5>{{ item.user.full_name }}</h5>
                          <div class="d-flex mb-3">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <p>{{ item.comment }}</p>
                      </div>
                    </div>
                  {% empty %}
                    <div>Chưa có bình luận nào!</div>
                  {% endfor %}
                </div>
                {% comment %} <div class="tab-pane" id="nav-vision" role="tabpanel">
                  <p class="text-dark">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. 3</p>
                  <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit</p>
                </div> {% endcomment %}
              </div>
            </div>
            <form method="post" action="">
              {% csrf_token %}

              <h4 class="mb-5 fw-bold">Để lại đánh giá của bạn</h4>
              <div class="row g-4">
                <div class="col-lg-6">
                  <div class="border-bottom rounded">
                    <input type="text" class="form-control border-0 me-4" placeholder="Yur Name *" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="border-bottom rounded">
                    <input type="email" class="form-control border-0" placeholder="Your Email *" />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="border-bottom rounded my-4">
                    <textarea name="" id="" class="form-control border" cols="30" rows="8" placeholder="Your Review *" spellcheck="false"></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="d-flex justify-content-between py-3 mb-5">
                    <div class="d-flex align-items-center">
                      <p class="mb-0 me-3">Please rate:</p>
                      <div class="d-flex align-items-center" style="font-size: 12px;">
                        <i class="fa fa-star text-muted"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <a href="#" class="btn border border-secondary text-primary rounded-pill px-4 py-3">Post Comment</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3">
          <div class="row g-4 fruite">
            <div class="col-lg-12">
              <div class="input-group w-100 mx-auto d-flex mb-4">
                <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" />
                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
              </div>
              <div class="mb-4">
                <h4>Categories</h4>
                <ul class="list-unstyled fruite-categorie">
                  {% for item in categories %}
                    <li>
                      <div class="d-flex justify-content-between fruite-name {% if category.id == item.id %}text-secondary{% endif %} ">
                        <a href="{% url 'shop_detail' slug=item.slug %}" class="{% if category.id == item.id %}text-secondary{% endif %} "><i class="fas fa-apple-alt me-2"></i>{{ item.name }}</a>
                        <span>({{ item.product_count|default:'0' }})</span>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <h4 class="mb-4">Sản phẩm nổi bật</h4>
              {% for item in relatives %}
                <div class="d-flex align-items-center justify-content-start">
                  <div class="rounded me-4 border img-thumb" style="width: 100px; height: 100px;">
                    <img style="object-fit: cover;height: 100%;" src="{{ item.image }}" class="img-fluid rounded" alt="" />
                  </div>
                  <div class="" style="flex: 1;">
                    <h6 class="fw-semibold text-truncate-2 mb-2" style="font-size: 0.9rem; line-height: 1.3; min-height: 38px;">{{ item.name }}</h6>
                    <div class="d-flex mb-2">
                      {% render_stars item.star|default:'0' as stars_html %}
                      {{ stars_html|safe }}
                    </div>
                    <div class="d-flex mb-2">
                      <h5 class="fw-bold me-2">{% load humanize %}{{ item.price|floatformat:0|intcomma }} ₫</h5>
                    </div>
                  </div>
                </div>
              {% endfor %}

              <div class="d-flex justify-content-center my-4">
                <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="position-relative">
                <img src="{% static 'app/img/banner-fruits.jpg' %}" class="img-fluid w-100 rounded" alt="" />
                <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                  <h3 class="text-secondary fw-bold">Fresh <br /> Fruits <br /> Banner</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="fw-bold mb-0">Sản phẩm gợi ý</h1>
      <div class="vesitable">
        <div class="owl-carousel vegetable-carousel justify-content-center">
          {% for pro in relatives_pro %}
            <div class="border border-primary rounded position-relative vesitable-item">
              <div class="fruite-img">
                <img src="{{ pro.image }}" class="img-fluid w-100 rounded-top" alt="{{ pro.name }}" style="height: 200px; object-fit: cover;" />
              </div>
              <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ pro.category.name }}</div>
              <div class="p-3 border border-secondary border-top-0 rounded-bottom">
                <h6 class="fw-semibold text-truncate-2 mb-2" style="font-size: 0.9rem; line-height: 1.3; min-height: 38px;">{{ pro.name }}</h6>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-dark fs-6 fw-bold mb-0">
                    {% load humanize %}{{ pro.price|floatformat:0|intcomma }} ₫
                  </p>
                  <a href="{% url 'detail' slug=pro.slug %}" class="btn btn-sm border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm</a>
                </div>
              </div>
            </div>
          {% empty %}
            <div>Không tìm thấy sản phẩm nào</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Single Product End -->
{% endblock %}
